{%extends 'base.html'%}
{% load bootstrap3 %} {% load staticfiles %}
{% block content %} 
{{ block.super}}

{% block styles %} {% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/stockmg.css' %}"> {% endblock %}

<div class="container">
    <a style="font-size:20px;margin-left:20px;color:rgb(5, 114, 141);text-decoration: none;"  href="{% url 'category' to_add.category.id %}">❰ Back</a>
    {% if request.user.is_superuser %}
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
        Add quantity
      </button>
      {% endif %}
      <br>
      <h3 class="text-center"><b>{{to_add.name}}</b> </h3>
      <hr><br>
      <div class="item">
      <div class="row">
     
        <p>SKU</p>
        <b>{{to_add.sKU}}</b>
        </div>
        <div class="row">
        <p>Description</p>
        <b>{{to_add.description}}</b>
      </div>
      <div class="row">
        <p>Size</p>
        <b>{{to_add.size}}</b>
      </div>
      <div class="row">
        <p>colour</p>
        <b>{{to_add.product_color}}</b>
       
      </div>
      <div class="row">
        <p>Quantity</p>
        <b>{{to_add.quantity}}</b> 
        
      </div>
      <div class="row">
          <p>Price</p>
          <b>{{to_add.unit_price}}</b> 
          
        </div>
     </div>
   </div>
</div>

    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
                <div class="modal-header">
                    <h3>New supplies</h3>  
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    
                    </div>  
                    <div class="modal-body">    
    
  {{form.media}}
  <form  action="{% url 'stock_product' to_add.id %}" method="post" enctype="multipart/form-data">
    {%csrf_token%}

    {% bootstrap_form form%}
    <input type="submit" class="btn btn-success btn-lg" value="Post">
  </form>

   {% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% bootstrap_javascript %} {% endblock %}
</div>
</div>
</div>
</div>
{% endblock %}