{% extends 'base.html'%}
{% load bootstrap3 %} {% load staticfiles %}
{% load bootstrap4 %}
{% block content %} 
{{ block.super}}

{% block styles %} {% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/analysis.css' %}"> {% endblock %}
</head>   

</head>
<body>
    
 <div class="container">
        <a style="font-size:20px;margin-left:20px;color:rgb(5, 114, 141);text-decoration: none;"  href="{{request.META.HTTP_REFERER|escape}}">❰ Back</a> 
    
     
     
    <h3 class="text-center"><b>Categories</b></h3><hr>
    <div class="row">
     {% for category in categories %}
     <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 ">
             <a href="{% url 'category_analysis' category.id %}">
         <div  style="padding:15px;background-color: whitesmoke"class="categories">
         <h5 class="text-center">{{category.name}}</h5><hr>
         <p class="text-center" style="color:#50B9D3;">View</p>
         <span  class="glyphicon glyphicon-shopping-cart"></span>
     </div></a>
     </div>
         {% endfor %}
      

 {% endblock %}