{%extends 'base.html'%}
{% load bootstrap3 %} {% load staticfiles %}
{% block content %} 
{{ block.super}}
<html>
    <head>
      {% block styles %} {% bootstrap_css %}
      <link rel="stylesheet" href="{% static 'css/analysis.css' %}"> {% endblock %}
      </head>   
    </head>
    <body>
        <div class="container">
            <a style="font-size:20px;margin-left:20px;color:rgb(5, 114, 141);text-decoration: none;"  href="{{request.META.HTTP_REFERER|escape}}">❰ Back</a>      
            
                <h1 class="text-center">{{category.name}}</h1>
                <hr><br>
           
          <div class="row">
          
            {% for product in products %}
           
            <div class="col-md-2 col-lg-2 col-sm-2">
                <p>SKU</p>
                <b>{{product.sKU}}</b>
              </div>
              <div class="col-md-3 col-lg-3 col-sm-3">
                <p>Name</p>
                <b>{{product.name}}</b>
              </div>
              <div class="col-md-3 col-lg-2 col-sm-2">
                <p>Description</p>
                <b>{{product.description}}</b>
              </div>
             
              <div class="col-md-2 col-lg-2 col-sm-2">
                <p>Quantity</p>
                <b>{{product.quantity}}</b>
              </div>
             
            
            <div class="col-md-2 col-lg-3 col-sm-3"><br>
                <a href="{% url 'stock_product_analysis'  product.id %}"><span class="detail">Sales</span></a>
             
            </div>
           
              <hr><hr>
                
           
                {% endfor %}
               
              </div>
        </div>
        
    </body>
</html>
{% endblock %}