{% extends 'base.html'%}
{% load bootstrap3 %} 
{% load staticfiles %}
{% load static %}

{% block content %} 
{{ block.super}}

<div id="container"></div>

    <div id="chart-container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
   
    <h3 class="text-center">{{to_add.name}} quantity:  <b>{{to_add.quantity}}</b></h3><hr>
    {% for product in products %}
    <p><b>Product:</b> {{product.name}}<br> <b>Location: {{product.warehouse}} </b><br> quantity: <b>{{product.quantity}}</b></p>
    {% endfor %}
    
{% endblock %}

{% block scripts %}
{{ block.super}}
        <script>
            window.appConfig={
                chartData:"{{data | escapejs }}"
            }
        </script>
        <script src="{% static 'js/product_sales_chart.js' %}"></script>

{% endblock %}