{% extends 'base.html'%}
{% load bootstrap3 %} 
{% load bootstrap4 %}{% load staticfiles %}
{% load static %}

{% block content %} 
{{ block.super}}

{% block styles %} {% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/analysis.css' %}"> {% endblock %}
</head>   

<div id="container"></div>

    <div id="chart-container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
   
    <h4 class="text-center">{{to_add.name}}</h4><hr>
    {% for product in products %}
    <p><b>Product:</b> {{product.name}}<br> <b>Location:</b> {{product.warehouse}} <br><b> quantity:</b> <span style="color:orange" >{{product.quantity}}</span></p>
    {% endfor %}
    
{% endblock %}

{% block scripts %}
{{ block.super}}
        <script>
            window.appConfig={
                chartData:"{{data | escapejs }}"
            }
        </script>
        <script src="{% static 'js/product_sales_chart.js' %}"></script>

{% endblock %}