{% extends 'dashboard/base.html' %} 
{% load bootstrap4 %} 
{% block content %}



{% comment %} <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-wrench"></i>
          <span>Utilities</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Our suppliers:</h6>
            <a class="collapse-item" href="">Colors</a>
            <a class="collapse-item" href="">Borders</a>
            <a class="collapse-item" href="">Animations</a>
            <a class="collapse-item" href="">Other</a>
          </div>
        </div>
</li> {% endcomment %}

{% endblock %}