        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span></span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                           
                            <form class="navbar-form" role="search" action="{% url 'search_results' %}">

          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search Products" name="article">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit"><i class="fas fa-search"></i></button>
            </div>
          </div>

        </form>&nbsp
         <li class="nav-item active">
                                <a class="nav-link" href="#"><i class="fas fa-user-shield"></i> IMS Admin</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>
                <h1 class="text-center">Product Categories</h1><br>
                <div class="row">
                {% for category in categories %}
            <div class="col-md-3">
            <a href="{% url 'category' category.pk %}">
           <div class="card border-danger mx-sm-1 p-3" style="margin-bottom: 10px;">
               <div class="text-danger text-center mt-3"><h4>{{category.name}}</h4></div>
            </div>
            </div> 
             </a>
            {% endfor %}
            </div>
            
            <div class="line"></div>

        </div>
    </div>

  
</body>

</html>