{% extends 'base.html'%}
{% load bootstrap3 %} {% load staticfiles %}
{% load bootstrap4 %}
{% block content %} 
{{ block.super}}

<style>
  button{
      float:right;
  }
  .container{
     font-family: 'Roboto Condensed', sans-serif;
  }
  .categories{
        border-top:15px solid rgb(5, 114, 141);
            border-bottom:15px solid rgb(5, 114, 141);
            -webkit-box-shadow: 3px 2px 12px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 2px 12px 0px rgba(0,0,0,0.75);
box-shadow: 3px 2px 12px 0px rgba(0,0,0,0.75);
            margin:10px;
            transition:0.9s;
            padding-bottom:7px;


  }
  a{
      text-decoration: none;
      color:black;
  }
  .categories:hover{
     -webkit-box-shadow: 3px 2px 15px 3px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 2px 15px 3px rgba(0,0,0,0.75);
box-shadow: 3px 2px 15px 3px rgba(0,0,0,0.75);
     margin:10px;

  }
  .categories:hover a{
     
     text-decoration: none;
      color:black; 
  }
  a:hover{
            
            text-decoration: none;
             color:black; 
         }
 </style>   

</head>
<body>
    
 <div class="container">
                <a style="font-size:20px;margin-left:20px;color:rgb(5, 114, 141);text-decoration: none;"  href="{{request.META.HTTP_REFERER|escape}}">❰ Back</a> 
     
     
    <h3 class="text-center"><b>Orders</b></h3><hr>
    <div class="row">
     {% for order in orders %}
    <div class="col-md-4 col-lg-4 col-sm-4">
        
            <p><b>product: </b> {{order.product}}</p>
            <hr>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-4">
           
            <p style="color:orange" class="text-center"> <b >Quantity: </b> {{order.quantity}}</p>
            <hr>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-4">
            
            <p class="text-center"><b>Date</b>: {{order.time}}</p>
            <hr>
    </div>
         {% endfor %}
      

 {% endblock %}
 