{% extends 'base.html'%}
{% load bootstrap3 %} {% load staticfiles %}
{% load bootstrap4 %}
{% block content %} 
{{ block.super}}

{% block styles %} {% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/orders.css' %}"> {% endblock %}


<div class="container">
        <a style="font-size:20px;margin-left:20px;color:rgb(5, 114, 141);text-decoration: none;"  href="{{request.META.HTTP_REFERER|escape}}">❰ Back</a>
    <h3 class="text-center"><b>Orders</b></h3>
    <hr><br>
    <div class="row">
    
    <div class="col-md-4">
        <a  href="{% url 'supply_orders' %}">
      <div class="categories">
           Supplied orders
      </div>
    </a>
    </div>
      <div class="col-md-4">
          <a href="{% url 'transfer_orders'  %}">
      <div class="categories">
            Distributor orders
      </div>
    </a>
</div>
<div class="col-md-4">
    <a href="{% url 'customer_orders' %}">
<div class="categories">
      Customer orders
</div>
</a>
</div>
</div>
</div>
{% endblock %}
