{% extends 'base.html'%}
{% load bootstrap3 %} {% load staticfiles %}
{% load bootstrap4 %}
{% block content %} 
{{ block.super}}
<html>
    <head>
            
        {% block styles %} {% bootstrap_css %}
        <link rel="stylesheet" href="{% static 'css/orders.css' %}"> {% endblock %}
                
     
    </head>
    <body>
           
        <div class="container">
                <a style="font-size:20px;margin-left:20px;color:rgb(5, 114, 141);text-decoration: none;"  href="{% url 'orders' %}">❰ Back</a>      
            
           <h1 class="text-center">Orders supplied</h1><hr>
           <div class="row">
            {% for order in orders %}
            <div class="col-md-3 col-lg-3 col-sm-3">
        
                    <p><b>product: </b> {{order.product}}</p>
                    <hr>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-3">
                   
                    <p style="color:orange" class="text-center"> <b >Supplier: </b> {{order.supplier}}</p>
                    <hr>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-3">
                    
                    <p class="text-center"><b>Quantity</b>: {{order.quantity}}</p>
                    <hr>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-3">
                    
                    <p class="text-center"><b>Date</b>: {{order.time}}</p>
                    <hr>
            </div>
                {% endfor %}
                </div>
            
        </div>
{% endblock %}