button{
    float:right;
}
.container{
   font-family: 'Roboto Condensed', sans-serif;
}
.categories{
      border-top:12px solid rgb(5, 114, 141);
          border-bottom:12px solid rgb(5, 114, 141);
          -webkit-box-shadow: 3px 2px 12px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 2px 12px 0px rgba(0,0,0,0.75);
box-shadow: 3px 2px 12px 0px rgba(0,0,0,0.75);
          margin:10px;
          transition:0.9s;
          padding:7px;


}

.categories:hover{
   -webkit-box-shadow: 3px 2px 15px 3px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 2px 15px 3px rgba(0,0,0,0.75);
box-shadow: 3px 2px 15px 3px rgba(0,0,0,0.75);
   margin:10px;

}
.categories:hover a{
   
   text-decoration: none;
    color:black; 
}
a:hover{
          
          text-decoration: none;
           color:black; 
       }
a{
    color:black;
}