{% extends 'base.html'%}
{% load bootstrap3 %} {% load staticfiles %}
{% load bootstrap4 %}
{% block content %} 
{{ block.super}}

<div style="margin-top:50px"class="container">
{{form.media}}
<form  action="{% url 'generate_invoice' %}" method="post" enctype="multipart/form-data">
{%csrf_token%}

{% bootstrap_form form%}
<input type="submit" class="btn btn-success btn-lg" value="Post">
</form>

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% bootstrap_javascript %} {% endblock %}
</div>

{% endblock %}
