{%extends 'base.html'%}
{% load bootstrap3 %} {% load staticfiles %}
{% block content %} 
{{ block.super}}

<style>
    .supplier{
        border:1px solid rgb(218, 216, 216);
        padding:10px;
        padding-bottom:20px;

    }
</style>

<div class='container'>
<h3 class="text-center"><b>{{supplier.name}}</b></h3><hr><br>
<div class="row">
    <div class="col-md-3 col-sm-3 col-lg-3">
        
        <p>Product: <b>{{supplier.product}}</b></p><hr>
        <p>Contact: <b>{{supplier.contact}}</b></p><hr>
        <p>Email: <b>{{supplier.email}}</b></p><hr>
        <div class="email"><a style="color:blue;"href="mailto:{{supplier.email}}">Make an order</a></div>
    </div>
    <div class="col-md-9 col-sm-9 col-lg-9">
       
        {% for order in orders %}
        <div class="orders">
        <p>{{order.product}}</p>
        <p>{{order.quantity}}</p>
        </div>
        <hr>
        {% endfor %}
        </div>
</div>
</div>
{% endblock %}