<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form class="navbar-form" role="search" action="{% url 'search' %}">

        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search" name="product">
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit">Button</button>
          </div>
        </div>

      </form>
</body>
</html>