{%extends 'base.html'%}
{% load bootstrap3 %} {% load staticfiles %}
{% block content %} 
{{ block.super}}
<html>
    <head>

    </head>
    <body>
        <div class="container">
            <p><a href="{% url 'analysis' %}">Analysis</a></p>
           
            <h4 style="color:red">{{messages}}</h4>
          
           <h1>Categories</h1>
            {% for category in categories %}
                <div  style="border:1px solid balck;padding:20px"class="categories">
                <a href="{% url 'category' category.id %}"><h3>{{category.name}}</h3></a>
            </div>
                {% endfor %}
            {% for house in houses %}
            <p><a href="{% url 'single_house' house.id %}">{{house.name}}</a></p>
            {% endfor %}
        </div>
        {{form.media}}
        <form  action="" method="post" enctype="multipart/form-data">
          {%csrf_token%}
      
          {% bootstrap_form form%}
          <input type="submit" class="btn btn-success btn-lg" value="Post">
        </form>
      
         {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        {% bootstrap_javascript %} {% endblock %}
    </body>
</html>
{% endblock %}