         <nav id="sidebar"><br>
            <div class="sidebar-header" id="header">
            <p class="text-center"><i class="lni-dashboard" id="child"><br>Admin dashboard</i></p>
                <h3>Offspring IMS</h3>
                <strong>IMS</strong>
                <hr>
            </div>

            <ul class="list-unstyled components">
                <li class="active">
                    <a href="#" data-toggle="collapse" aria-expanded="false">
                        <i class="fa fa-boxes"></i>
                        Stock Management
                    </a>
                   
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-parachute-box"></i>
                        Supplier Management
                    </a>
            </li>
            <li>
                     <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Order Management
        </button>
      </h2>
    </div>
         <li>
                    <a href="#">
                        <i class="fas fa-warehouse"></i>
                        Product Tracking
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-chart-line"></i>
                        Analytics
                    </a>
                </li>
              
                
            </ul>

        </nav>